@media (max-width: 768px) {
  .navbar-open {
    max-height: 100vh;
    opacity: 1;
    visibility: visible;
    transition: all 1.2s ease;
  }
  .navbar-close {
    max-height: 0;
    opacity: 0;
    transition: all 0.5s ease;
    visibility: hidden;
  }
  .menu-trigger, .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  .menu-trigger {
    position: relative;
    width: 1.7rem;
    height: 1.5rem;
  }
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
  }
  .menu-trigger span:nth-of-type(1) {
    top: 6px;
  }
  .menu-trigger span:nth-of-type(2) {
    top: 14px;
  }
  .menu-trigger span:nth-of-type(3) {
    bottom: 0px;
  }
  .menu-trigger.active {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  .menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(0px) rotate(-45deg);
    transform: translateY(8px) rotate(-45deg);
  }
  .menu-trigger.active span:nth-of-type(2) {
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
  }
  .menu-trigger.active span:nth-of-type(3) {
    opacity: 0;
  }
}

.home h2 {
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.home h2 {
top: 50%;
left: 50%;
}

@media (min-width: 1024px) {
  .h-22rem{
    height: 22rem;
  }
}

.mb-m-1{
  margin-bottom: -0.25rem;
}

/* 基本のスタイル */
div.delighter {
transition: all .3s ease-out;
transform: translateX(100%);
opacity: 0;
}

/* スタート時のスタイル */
div.delighter.started {
transform: none;
opacity: 1;
}

.pt-14{
  padding-top: 3.5rem;
}

.text-xxs{
  font-size: 0.1rem;
}

.home .content img{
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.home .content img:hover{
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.about .profile .content, .about .history .content, .about .career .content{
  flex: 2;
}

.contact input::placeholder, .contact textarea::placeholder{
  padding-left: 0.5rem;
}

.allow-wrapper{
  position: relative;
}

.allow{
  position: absolute;
  right: 1.5rem;
  top: 0.05rem;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 12px;
  height: 12px;
  border-top: solid .15rem black;
  border-right: solid .15rem black;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.allow.up{
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0.45rem;
}

.works .effect{
  box-shadow: 0px 0px 10px 2px #aaaaaa;
  transition: all 0.5s;
}
.works .no-effect {
  transition: all 0.5s;
}
