@media (max-width: 768px) {
  .navbar-open {
    max-height: 100vh;
    opacity: 1;
    visibility: visible;
    transition: all 1.2s ease;
  }
  .navbar-close {
    max-height: 0;
    opacity: 0;
    transition: all 0.5s ease;
    visibility: hidden;
  }
}

.home h1 {
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.about .profile .content, .about .history .content{
  flex: 2;
}

.contact input::placeholder, .contact textarea::placeholder{
  padding-left: 0.5rem;
}